<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <style>
        body,
        table,
        td,
        div,
        span {
            /* Set font chính là BR Omega VN, dự phòng là Arial */
            font-family: 'BR Omega VN', Helvetica, sans-serif;
            color: #fff;
            font-size: 20px;
        }
    </style>
</head>

<body style="margin: 0; padding: 0; background-color: #f4f4f4;">

    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center">

                <table width="800" height="450" border="0" cellpadding="0" cellspacing="0" style="background-image: url('https://lh3.googleusercontent.com/u/0/d/16FEBnnVC5YO2PDvpWeD7bS35QwP0TNeC'); 
                              background-size: 800px 450px; 
                              background-repeat: no-repeat;
                              background-color: #d3dfed;">
                    <tr>
                        <td valign="top" style="padding-top: 180px; padding-left: 20px; padding-right: 300px;">

                            <div
                                style="height: 90px; overflow: hidden; line-height: 1.4; padding-left: 20px; column-count: 2; column-gap: 20px;">
                                {{Role}}
                            </div>

                            <div style="margin-top: 2px; padding-left: 125px; font-size: 20px;">
                                {{CareerLevel}}
                            </div>

                            <div style="margin-top: 25px; padding-left: 125px; font-size: 16px;">
                                {{WorkLocation}}
                            </div>

                            <div style="margin-top: 3px; padding-left: 130px; font-size: 16px;">
                                {{WorkSchedule}}
                            </div>

                            <div style="margin-top: 3px; padding-left: 110px; font-size: 16px;">
                                {{WorkSetup}}
                            </div>

                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>

</body>

</html>